<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PizzaEcki.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PizzaEcki.Properties.Settings>
            <setting name="HappyHourStart" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="HappyHourEnd" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="SelectedPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="HappyHourStartDay" serializeAs="String">
                <value />
            </setting>
            <setting name="HappyHourEndDay" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkPrinter" serializeAs="String">
                <value />
            </setting>
        </PizzaEcki.Properties.Settings>
    </userSettings>
</configuration>