<!-- App.config -->
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PizzaKitchenClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="SignalRHubUrl" value="http://localhost:5000" />
	</appSettings>
 <userSettings>
  <PizzaKitchenClient.Properties.Settings>
   <setting name="BonWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="KundeWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NameWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OffenSeitWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LieferungBisWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StrasseWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LieferartWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="GerichteWidth" serializeAs="String">
    <value>0</value>
   </setting>
  </PizzaKitchenClient.Properties.Settings>
 </userSettings>
</configuration>
